<!DOCTYPE html>
<html>
<head>
  <title>Vchat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
	<meta name="author" content="">  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://static.opentok.com/v0.91/js/TB.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body style="background: #f6f6f6 url(../assets/body.png) repeat;">

<%= yield %>

</body>
</html>
